
.vs/GIGRSystem/v15/Server/sqlite3/storage.ide-wal
.vs/GIGRSystem/v15/Server/sqlite3/storage.ide
.vs/GIGRSystem/v15/.suo
.vs/GIGRSystem/v15/Server/sqlite3/storage.ide-shm
.vs/GIGRSystem/v15/Server/sqlite3/storage.ide-wal
GIGRSystem/bin/Debug/GIGRSystem.exe
GIGRSystem/bin/Debug/GIGRSystem.pdb
GIGRSystem/obj/Debug/GIGRSystem.csproj.CoreCompileInputs.cache
GIGRSystem/obj/Debug/GIGRSystem.csproj.GenerateResource.cache
GIGRSystem/obj/Debug/GIGRSystem.csprojAssemblyReference.cache
GIGRSystem/obj/Debug/GIGRSystem.exe
GIGRSystem/obj/Debug/GIGRSystem.pdb
